<!DOCTYPE html>
<html>
  <head>
    <title>List of fruits</title>
  </head>
  <body>
    <h1>List of fruits</h1>

    <ul>
      {% for f in fruits %}
      <li><a href="/fruit?fruit_id={{ f[0] }}">{{ f[1] }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
